.spacer {
    flex: 1 1 auto;
}

.app-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}


.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

mat-spinner.load{
    display:none;
}
router-outlet + mat-spinner.load{
    display: block;
}

.sn-text {
    padding-left: 1.2em;
    padding-right: 1em;
    color: #585858;
    font-weight: normal;
    font-size: 14pt;
}

.sn-icon {
    padding-left: 0.6em;
    color: #FFC107;
}

.active {
    background-color: #f6f6f6;
    color: #f6f6f6;
}

.activeT {
    color: dodgerblue;
}

.name {
    font-size: 18px;
    font-family: psans-bold, sans-serif;
    margin: 0.5em 0.5em 0.5em 0.5em;
}

.logo {
    background: linear-gradient(90deg, #ff6622, #ff6622, #bbbbbb, #ff6622, #ff6622);
    background-size: 400% 100%;

    animation: Logo 2s ease-in infinite;
}

@keyframes Logo {
    0%{background-position:95% 50%}
    100%{background-position:0% 50%}
}
