<div *ngIf="!loggedIn && !mobile" class="container">
    <a href="https://teacher.slipmate.ml" class="link" style="color: white; background-color: #102020;">Teacher</a>
    <a href="https://student.slipmate.ml" class="link" style="color: #102020; background-color: darkorange;">Student</a>
</div>

<div *ngIf="!loggedIn && mobile" class="m-container">
    <div>
        <a href="https://student.slipmate.ml" class="m-link" style="margin-top: -0.5em; color: #102020; background-color: darkorange;">
            <span class="m-text">Student</span>
        </a>
    </div>
    <div>
        <a href="https://teacher.slipmate.ml" class="m-link" style="color: white; background-color: #102020;">Teacher</a>
    </div>
</div>
