body {
    margin: 0;
    padding: 0;
}

.app-toolbar {
    background-color: darkorange;
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.container {

    display: flex;
    height: 20vh;
}

.main {
    padding-top: 38vh;
}

.sub {
    padding-top: 6.5vh;
}

.m-sub {
    padding-top: 5vh;
}

.m-main {
    padding-top: 24vh;
}

.m-link {
    color: black;
    background-color: whitesmoke;
    text-align: center;
    vertical-align: center;
    flex: 1;
    font-size: 50px;
    text-decoration: none !important;
    animation-name: unselect;
    animation-duration: 0.4s;
}

.link {
    color: black;
    background-color: whitesmoke;
    text-align: center;
    vertical-align: center;
    flex: 1;
    font-size: 50px;
    text-decoration: none !important;
    animation-name: unselect;
    animation-duration: 0.4s;
}

.link:hover {
    color: darkorange;
    background-color: lightgray;
    animation-name: select;
    animation-duration: 0.4s;
}



@keyframes select {
    from {
        color: black;
        background-color: whitesmoke;
    }
    to {
        color: darkorange;
        background-color: lightgray;
    }
}

@keyframes unselect {
    from {
        color: darkorange;
        background-color: lightgray;
    }
    to {
        color: black;
        background-color: whitesmoke;
    }
}
