<div *ngIf="!(loadedL && loadedA)" style="width: 100%; alignment: center; text-align: center;">
    <div style="display: inline-flex; alignment: center;">
        <mat-card style="margin-top: 100px; padding:1em; alignment: center; flex: 1" class="card">
            <div style="display: flex; padding: 1em; width: 100%">
                <div style="flex: 1; display: inline-flex">
                    <mat-spinner></mat-spinner>
                    <span style="height: 100%; font-size: 20pt; flex: 1; padding-left: 2em; padding-top: 10%;">Please wait</span>
                </div>
            </div>
        </mat-card>
    </div>
</div>

<div *ngIf="loadedL && loadedA">
    <div class="card-container" style="margin: 100px 120px 20px; font-family: psans-bold, sans-serif; font-size: 28px">
        Students attending
    </div>
    <div style="margin: 0 100px 100px; padding-top: 0;" *ngIf="arriving.length > 0">
        <div class="card-container" *ngFor="let a of arriving">
            <mat-card class="card">
                <mat-card-title style="font-family: psans-med, sans-serif; font-size: 32px; padding: 0.25em 0.5em 0.5em;">{{a.name}}</mat-card-title>
                <mat-card-content style="padding-left: 1em; margin-bottom: 0;">
                    <div style="display: inline-flex; width: 100%; margin: 0 0 0 1em">
                        <div style="flex: 4; padding: 0 0.5em;">
                            <span style="font-size: 24px; color: navy;">Date:</span>
                            <p style="font-size: 18px; margin-bottom: 0.125em">{{a.weekday}}</p>
                            <p style="font-size: 18px; margin-top: 0.125em">{{a.date}}</p>
                        </div>
                        <div style="flex: 5; padding: 0 0.5em">
                            <span style="font-size: 24px; color: navy;">From:</span>
                            <p style="font-size: 18px;">{{a.fromTeach}}</p>
                        </div>
                        <div style="flex: 6; padding: 0 0.5em">
                            <span style="font-size: 24px; color: navy; margin-left: 0;">Reason:</span>
                            <p style="font-size: 18px;">{{a.reason}}</p>
                        </div>
                        <div style="flex: 4; padding: 0 0.5em">
                            <span style="font-size: 24px; color: navy;">Status:</span>
                            <p *ngIf="a.approved && !a.denied" style="font-size: 18px; color: limegreen;">Approved</p>
                            <p *ngIf="a.denied" style="font-size: 18px; color: red;">Denied</p>
                            <p *ngIf="!a.approved && !a.denied" style="font-size: 18px;">Pending</p>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions style="overflow: auto">
                    <div style="float: right; width: 100%; margin: 0 1em -0.25em;">
                        <button mat-stroked-button color="warn" (click)="deletePass(a.slipID)" style="float: right;">Delete</button>
                    </div>
                    <p style="color: lightgray; font-family: psans-light, sans-serif; margin: -1em 0 0.25em 0.5em; padding: 0; font-size: 14px">{{a.slipID}}</p>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

    <div style="margin: 0 100px 100px; alignment: center" *ngIf="arriving.length === 0">
        <mat-card class="card">
            <mat-card-title style="padding: 0.5em;">No current requests to attend your tutorial</mat-card-title>
        </mat-card>
    </div>

    <div style="margin: 100px 120px 20px; font-family: psans-bold, sans-serif; font-size: 28px">
        Students leaving
    </div>

    <div style="margin: 0 100px 100px;" *ngIf="leaving.length > 0">
        <div class="card-container" *ngFor="let l of leaving">
            <mat-card class="card">
                <mat-card-title style="font-family: psans-med, sans-serif; font-size: 32px; padding: 0.25em 0.5em 0.5em;">{{l.name}}</mat-card-title>
                <mat-card-content style="padding-left: 1em; margin-bottom: 0;">
                    <div style="display: inline-flex; width: 100%; margin: 0 0 0 1em">
                        <div style="flex: 4; padding: 0 0.5em;">
                            <span style="font-size: 24px; color: navy;">Date:</span>
                            <p style="font-size: 18px; margin-bottom: 0.125em">{{l.weekday}}</p>
                            <p style="font-size: 18px; margin-top: 0.125em">{{l.date}}</p>
                        </div>
                        <div style="flex: 5; padding: 0 0.5em">
                            <span style="font-size: 24px; color: navy;">From:</span>
                            <p style="font-size: 18px;">{{l.fromTeach}}</p>
                        </div>
                        <div style="flex: 6; padding: 0 0.5em">
                            <span style="font-size: 24px; color: navy; margin-left: 0;">Reason:</span>
                            <p style="font-size: 18px;">{{l.reason}}</p>
                        </div>
                        <div style="flex: 4; padding: 0 0.5em">
                            <span style="font-size: 24px; color: navy;">Status:</span>
                            <p *ngIf="l.approved && !l.denied" style="font-size: 18px; color: limegreen;">Approved</p>
                            <p *ngIf="l.denied" style="font-size: 18px; color: red;">Denied</p>
                            <p *ngIf="!l.approved && !l.denied" style="font-size: 18px;">Pending</p>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions style="overflow: auto">
                    <div style="float: right; width: 100%; margin: 0 1em -0.25em;">
                        <button mat-stroked-button color="warn" (click)="deletePass(l.slipID)" style="float: right;">Delete</button>
                    </div>
                    <p style="color: lightgray; font-family: psans-light, sans-serif; margin: -1em 0 0.25em 0.5em; padding: 0; font-size: 14px">{{l.slipID}}</p>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

    <div style="margin: 0 100px 100px; alignment: center" *ngIf="leaving.length === 0">
        <mat-card class="card">
            <mat-card-title style="padding: 0.5em;">No current requests to leave your tutorial</mat-card-title>
        </mat-card>
    </div>
</div>
