<div style="margin: 100px 120px 20px; font-family: psans-bold, sans-serif; font-size: 24px">
    Students attending
</div>

<div style="margin: 0 100px 100px; padding-top: 0;" *ngIf="arriving.length">
    <div class="card-container" *ngFor="let a of arriving">
        <mat-card class="card">
            <mat-card-title class="pad">{{a.name}}</mat-card-title>
            <mat-card-content style="padding-left: 1em;">
                Hello
            </mat-card-content>
            <mat-card-actions style="overflow: auto">
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<div style="margin: 0 100px 100px; alignment: center" *ngIf="!arriving.length">
    <mat-card class="card">
        <mat-card-title style="padding: 0.5em;">No current requests to attend your tutorial</mat-card-title>
    </mat-card>
</div>

<div style="margin: 100px 120px 20px; font-family: psans-bold, sans-serif; font-size: 24px">
    Students leaving
</div>

<div style="margin: 0 100px 100px;" *ngIf="leaving.length">
    <div class="card-container" *ngFor="let l of leaving">
        <mat-card class="card" *ngIf="!l.denied && l.approvedPass">
            <mat-card-title class="pad" style="font-family: psans-bold">{{l.name}}</mat-card-title>
            <mat-card-content style="padding-left: 1em;">
                <div style="display: inline-flex; width: 100%">
                    <div style="flex: 1"></div>
                    <div style="flex: 1"></div>

                    <p style="flex: 1">Date: {{l.date}}</p>
                </div>
            </mat-card-content>
            <mat-card-actions style="overflow: auto">
            </mat-card-actions>
            <p style="color: lightgray; font-size: 12px">{{l.slipID}}</p>
        </mat-card>
    </div>
</div>

<div style="margin: 0 100px 100px; alignment: center" *ngIf="!leaving.length">
    <mat-card class="card">
        <mat-card-title style="padding: 0.5em;">No current requests to leave your tutorial</mat-card-title>
    </mat-card>
</div>
