@import '~@angular/material/theming';

@include mat-core();

$navy: (
    50: navy,
    100: navy,
    200: navy,
    300: navy,
    400: navy,
    500: navy,
    600: navy,
    700: navy,
    800: navy,
    900: navy,
    A100: navy,
    A200: navy,
    A400: navy,
    A700: navy,
    contrast: (
        50: lightgray,
        100: lightgray,
        200: lightgray,
        300: lightgray,
        400: lightgray,
        500: lightgray,
        600: lightgray,
        700: lightgray,
        800: lightgray,
        900: lightgray,
        A100: lightgray,
        A200: lightgray,
        A400: lightgray,
        A700: lightgray,
    )
);

$dark-theme-primary: mat-palette($navy);
$dark-theme-accent: mat-palette($mat-yellow);
$dark-theme-warn: mat-palette($mat-red);

$dark-theme: mat-light-theme($dark-theme-primary, $dark-theme-accent, $dark-theme-warn);

@include angular-material-theme($dark-theme);
