/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: psans;
    src: url(assets/fonts/ProductSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: psans-light;
    src: url(assets/fonts/ProductSans-Light.ttf) format("truetype");
}

@font-face {
    font-family: psans-med;
    src: url(assets/fonts/ProductSans-Medium.ttf) format("truetype");
}

@font-face {
    font-family: psans-bold;
    src: url(assets/fonts/ProductSans-Bold.ttf) format("truetype");
}

* {
    font-family: psans, sans-serif;
}
