@import '~@angular/material/theming';
@include mat-core();

.step-container {
  padding: 100px;
  alignment: left;
  margin: auto;
  max-width: 900px;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #FFC107;
}

::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: #FFC107;
}

.step {
  border-radius: 12px;
}

#desc{

  padding-top: 2em;
  padding-left: 2em;
}
