<div id="desc">
  <h3>Day Blocker:</h3>
  <p>Use this screen to block days that you cannot do tutorial</p>
</div>
<div class="step-container yellow-theme">
  <mat-card class="step">
    <mat-vertical-stepper  #stepper>
      <mat-step [stepControl]="FirstFormGroup">
        <form [formGroup]="FirstFormGroup">
          <ng-template matStepLabel>Date</ng-template>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" name="date" placeholder="Date" formControlName="firstCtrl" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div>
            <button mat-stroked-button matStepperPrevious style="margin-right: 1em">Back</button>
            <button mat-raised-button matStepperNext style="background-color: dodgerblue; color: white" type="button" (click)="submitCalendarDate()">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Finish</ng-template>
          <div>
            <button mat-stroked-button (click)="stepper.reset();">Create Another</button>
          </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card>
</div>

<div style="background-color: #ffffff;padding: 10px;margin: 10px;border-radius: 15px;box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);margin-right: 3em;margin-left: 3em;">
  <h2 class="py-4">Blocked Days</h2>
  <hr>
  <table class="table-days">
    <tbody>
    <tr *ngFor="let day of this.blockedDays; let i = index"><div style="margin: 5px;">
      <td style="font-size: 1.1em; vertical-align: center">{{this.convertDate(day.toString())}}</td>
      <td><button mat-raised-button type="button" style="background-color: dodgerblue; color: white; float: right" (click)="this.remove(day.toString())">Remove</button></td>
    </div>

    </tr>
    </tbody>
  </table>
</div>
